.tree
{
	overflow: auto;
	overflow-x:hidden;

	width: 300px;
	height: 400px;

	border:1px solid #C9E39C;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	margin: 5px;
	direction: rtl;
}
.tree a
{
	color:#000;
	text-decoration:none;
}
.tree li, .tree ul
{
	list-style: none;
	/*background-color:#ffffff;*/
	direction: rtl;
	text-align: right;
}
.tree li
{
	padding:0px 32px 0px 0px;
	line-height:17px;
	margin: 0;
	cursor: default;
	white-space: nowrap;
}
.tree ul
{
	direction: rtl;
	margin:0 -13px 0 0;
	padding:0;
}
.tree li.leaf
{
	background: url(../images/popupTree/leaf.gif) no-repeat right 0;
}
.tree li.leaf-last
{
	background: url(../images/popupTree/leaf-last.gif) no-repeat right 0;
}

.tree .folder-close
{
	background: url(../images/popupTree/expandable.gif) no-repeat right 0;
}
.tree .folder-close-last
{
	background: url(../images/popupTree/expandable-last.gif) no-repeat right 0;
}
.tree .folder-open {
	background: url(../images/popupTree/collapsable.gif) no-repeat right 0;
}
.tree .folder-open-last {
	background: url(../images/popupTree/collapsable-last.gif) no-repeat right 0;
}
.tree .root{
	font-weight: bold;
	font-size: 14px;
	color: navy;
}

.tree .toggler {
	float:right;
	margin-right:-34px;
	height:16px;
	width:32px;
	background-image:url(../images/popupTree/spacer.gif);
	cursor:pointer;
}
.tree ul.ajax {
	background: url(../images/popupTree/spinner.gif) no-repeat 0 0;
	height: 16px;
}
.tree ul.ajax li {
	display:none;
}
.tree .text{
	font-weight: normal;
	font-size: 12px;
	color: navy;
}
.tree .active{
	background-color: #F9F16F;
	font-weight: normal;
	font-size: 12px;
	color: navy;
}